<% provide(:title, 'Couple') %>

<div class="center">
  <h1>Pick Your Poison</h1>
  <div class="scroll_thing"><img src="/assets/ballsack.png"></div>
  <div class="couple">
    <span id="bride" class="photo-tall">
      <img src="/assets/amanda2.jpg">
      <span> Bride </span>
    </span>

    <span class="lingo"> or </span>

    <span id="groom" class="photo-tall">
      <span> Groom </span>
      <img src="/assets/steve2.jpg">
    </span>
  </div>
</div>
<%= render 'footer' %>