<% provide(:title, 'Couple') %>

<h1>Pick Your Poison</h1>
<div class="center">
  <span id="bride" class="photo-tall">
    <img src="/assets/amanda2.jpg">
    <span> Bride </span>
  </span>

  <span> or </span>

  <span id="groom" class="photo-tall">
    <span> Groom </span>
    <img src="/assets/steve2.jpg">
  </span>
</div>
