<% provide(:title, 'Home') %>
<h1>A Wedding to be Remembered</h1>
<div class="center welcome">
  
  <span class="photo">
    <img src="/assets/amanda1.jpg">
  </span>

  <span class="photo-tall">
    &
  </span>

  <span class="photo">
    <img src="/assets/steve1.jpg">
  </span>

</div>
