<footer class="footer">
  <small>
    A Jurassic Wedding - By Stephen Prosser and Amanda Carl
  </small>

  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", news_path %></li>
    </ul>
  </nav>
</footer>